<footer class="site-footer">

  <div class="container">
    <div class="row">
      
      <div class="col-sm-4">
        <img class="rounded-circle" src="http://www.gravatar.com/avatar/f9ccd98c185d7407c6d27e2875335a31.png?s=160" />
      </div>
      
      <div class="col-sm-4">
        <ul class="list-icon">
          <li><a href="{{ "/feed.xml" | relative_url }}"><i class="fa fa-rss"></i>Subscribe via RSS</a></li>
        </ul>
      </div>
      
      <div class="col-sm-4">
        <h5>Contact me on:</h5>
        <ul class="list-icon">
          <li><a href="https://github.com/leon" target="_blank"><i class="fa fa-github"></i>Github</a></li>
          <li><a href="https://twitter.com/leonradley" target="_blank"><i class="fa fa-twitter"></i>Twitter</a></li>
          <li><a href="skype:leonradley?userinfo"><i class="fa fa-skype"></i>Skype</a></li>
          <li><a href="http://stackoverflow.com/users/71245/leon-radley" target="_blank"><i class="fa fa-stack-overflow"></i>Stack Overflow</a></li>
        </ul>
      </div>
    </div>

</footer>
