<header class="site-header" role="banner">

  <nav class="navbar navbar-inverse bg-transparent navbar-toggleable">
    <a class="navbar-brand mr-auto" href="{{ "/" | relative_url}}"><img src="http://www.gravatar.com/avatar/f9ccd98c185d7407c6d27e2875335a31.png?s=50" />{{ site.title | escape }}</a>

    <div class="navbar-nav hidden-xs-down">
      {% for menu_item in site.menu %}
        <a class="nav-item nav-link" href="{{menu_item.url}}">{{menu_item.title}}</a>
      {% endfor %}

      <a class="nav-item nav-link" href="https://github.com/leon" target="_blank"><i class="fa fa-github"></i></a>
      <a class="nav-item nav-link" href="https://twitter.com/leonradley" target="_blank"><i class="fa fa-twitter"></i></a>
    <div>
  </nav>

</header>
