<ul class="tag-cloud">
	<li><a href="/tag/akka" title="Posts tagged with akka" style="font-size: 1.5em; line-height:1.5em">akka</a></li>
	<li><a href="/tag/mootools" title="Posts tagged with mootools" style="font-size: 1.5em; line-height:1.5em">mootools</a></li>
	<li><a href="/tag/play" title="Posts tagged with play" style="font-size: 1.5em; line-height:1.5em">play</a></li>
	<li><a href="/tag/sublime-text-2" title="Posts tagged with sublime-text-2" style="font-size: 2.0em; line-height:2.0em">sublime-text-2</a></li>
	<li><a href="/tag/textmate-2" title="Posts tagged with textmate-2" style="font-size: 1.5em; line-height:1.5em">textmate-2</a></li>
	<li><a href="/tag/tip" title="Posts tagged with tip" style="font-size: 1.5em; line-height:1.5em">tip</a></li>
	<li><a href="/tag/unix" title="Posts tagged with unix" style="font-size: 2.0em; line-height:2.0em">unix</a></li>
</ul>
