.aside {
	h1 {
		font-size: 1.3125em;
		line-height: 1.1428571428571428571428571428571em;
		margin-bottom: .5em;
		color: #bbb;
		//@include transition("color .3s ease-in");
		a {
			color: #bbb;
		}
	}
	.tags {
		&:hover {
			h1,
			h1 a {
				color: $linkHoverColor;
			}
		}
		ul {
			list-style: none;
			li,
			a {
				display: block;
				color: #bbb;
				border-bottom: 1px solid transparent;
				//@include transition("all .3s ease-in");

				&:hover {
					color: $linkHoverColor;
					text-decoration: none;
					border-bottom: 1px dashed $dashColor;
				}
				span {
				    margin-left: 5px;
				    color: $dashColor;
				}
			}
		}
	}
}
