.comments {
	margin-top: 20px;
	padding-top: 20px;
	padding-right: 20px;
	border-top: 1px dashed $dashColor;

	#dsq-content {
		margin-right: 24px;
		max-width: 600px;
	}

	h3 {
		font-size: 1.4em;
	}

	a {
		color: $textColor;
	}

	.dsq-textarea-background {
		background: #fff;
		border: 1px dashed $dashColor;
		box-shadow: none;
	}
}
