.site-header {
  position: absolute;
  width: 100%;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-transform: uppercase;

  .navbar {
    padding-left: .5rem;
  }

  .navbar-brand {
    padding: 0;

    img {
      display: inline-block;
      margin-right: 1rem;
    }
  }

  .fa {
    font-size: 2em;
  }
}
