.post-header {
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 6rem;
  color: #fff;
}

.post-content {
  position: relative;
}
