.tag-cloud {
	margin: 20px 0;
	list-style: none;
	display: block;
	li {
		display: inline-block;
		a {
			display: inline-block;
			//@include transition(color .3s ease-in);
			&:hover {
				color: $linkHoverColor;
				text-decoration: none;
			}
		}
	}
}
