.teaser {
	a {
		display: block;
		color: $textColor;

		&:hover {
			text-decoration: none;
			h1 {
				color: $accentColor;
			}
		}
	}
		header {
			border-top: 1px dashed $dashColor;
			img {
				float: left;
				display: inline;
				max-width: 20px * 6;
				margin: (20px + 10px) 10px 10px 0;
			}
			time {
				display: block;
				width: 108px;
				margin: -1px 0 10px -20px;
				padding-left: 10px;
				background: #fff url("../img/stripe-bg.png") ;
				font-family: SansationBold, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
				font-weight: bold;
				line-height: 28px;
				color: $accentColor;
				@include radius(2px);
				//@include transition(width margin .3s ease-in);
			}
			h1 {
				font-size: 2em;
				//@include transition(color .3s ease-in);
			}
		}
		p {
			padding: 0 20px 0 0;
			max-width: 512px;
		}
}
