// White links against a dark background
.lr-navbar {
  position: absolute;
  width: 100%;
  background-color: transparent !important;
  padding-left: 0 !important;
  padding-top: 0 !important;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-transform: uppercase;

  .fa {
    font-size: 2em;
  }

  a {
    line-height: 2rem;
    @include hover-focus {
      background-color: transparent !important;
    }
  }

  .navbar-brand {
    padding: 0;

    img {
      display: inline-block;
      margin-right: 1rem;
    }
  }

  .navbar-brand,
  .navbar-toggler {
    color: $navbar-dark-active-color;

    @include hover-focus {
      color: $navbar-dark-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-dark-color;

      @include hover-focus {
        color: $navbar-dark-hover-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      @include plain-hover-focus {
        color: $navbar-dark-active-color;
      }
    }
  }

  .navbar-toggler {
    background-image: $navbar-dark-toggler-bg;
    border-color: $navbar-dark-toggler-border;
  }

  .navbar-divider {
    background-color: rgba(255,255,255,.075);
  }
}

.site-footer {
  background-color: #282828;
  margin-top: 3rem;
  padding: 3rem 0;
  color: #eee;

  a {
    color: #eee;
  }
}
