// Headings
@font-face {
  font-family: 'League';
  src: url('/assets/fonts/leaguegothic-regular.woff2') format('woff2'),
  url('/assets/fonts/leaguegothic-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Script
@font-face {
    font-family: 'AlexaBrush';
    src: url('/assets/fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Code
@font-face {
  font-family: 'Fira Code';
  src: url('/assets/fonts/firacode-regular.eot');
  src: url('/assets/fonts/firacode-regular.eot') format('embedded-opentype'),
  url('/assets/fonts/firacode-regular.woff2') format('woff2'),
  url('/assets/fonts/firacode-regular.woff') format('woff'),
  url('/assets/fonts/firacode-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// Lead
h4,.h4,.lead {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: unset;
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
  line-height: 2rem;
}

.display-1,
.display-2,
.display-3 {
  font-family: $effect-headings-font-family;
}

.display-script {
  font-family: 'AlexaBrush';
  text-transform: unset;
}

// Enable block quotes as standard since we can simply do > then
blockquote {
  padding: ($spacer / 2) $spacer;
  margin-bottom: $spacer;
  font-size: $blockquote-font-size;
  border-left: $blockquote-border-width solid $blockquote-border-color;
}
