// Enable Fira Code Typeface
$effect-headings-font-family: 'League', Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-monospace: 'Fira Code', Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// Navbar
//$navbar-dark-color: rgba(255,255,255,0.8);

// Tag
$badge-default-bg: #282828;
