article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,dialog{display:block;}
audio[controls],canvas,video{display:inline-block;*display:inline;zoom:1;}
html{height:100%;margin:0;padding:0;font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;}
body{min-height:100%;margin:0;padding:0;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;text-rendering:optimizeLegibility;background:#fff;}
body,button,input,select,textarea{font:100%/1.5 Georgia,Palatino,"Palatino Linotype",Times,"Times New Roman",serif;*font-size:1em;color:#333333;}
p,blockquote,qpre,hr,code,dl,ol,ul,form,table,fieldset,menu,img{margin:0 0 1.5em;padding:0;}
ul,ol{list-style-position:inside;padding:0;}
li ul,li ol{margin:0 1.5em;}
dl dd{margin-left:1.5em;}
dt{font-family:Futura,"Century Gothic",AppleGothic,sans-serif;}
a{text-decoration:none;color:#287583;-webkit-transition:color 0.3s ease-in;-moz-transition:color 0.3s ease-in;-ms-transition:color 0.3s ease-in;-o-transition:color 0.3s ease-in;transition:color 0.3s ease-in;}a:hover{color:#178195;text-decoration:underline;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:none;}
figure{margin:0;}
img,object,embed,video{max-width:100%;_width:100%;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
abbr[title],dfn[title]{border-bottom:1px dotted #333;cursor:help;}
ins,mark{text-decoration:none;}
mark{background:#c47529;}
ins{background:#d49855;}
del{text-decoration:line-through;}
::-moz-selection{background:#f1f1f1;color:#000;text-shadow:none;}
::selection{background:#f1f1f1;color:000;text-shadow:none;}
strong,b,dt{font-weight:bold;}
dfn{font-style:italic;}
var,address{font-style:normal;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
span.amp{font-family:"Adobe Caslon Pro",Baskerville,"Goudy Old Style","Palatino","Palatino Linotype","Book Antiqua",Georgia,"Times New Roman",Times,serif;font-style:italic;font-size:110%;line-height:0;position:relative;vertical-align:baseline;}
@font-face{font-family:'CabinSketchBold';src:url('../font/CabinSketch-Bold-webfont.eot');src:url('../font/CabinSketch-Bold-webfont.eot?#iefix') format('embedded-opentype'),url('../font/CabinSketch-Bold-webfont.woff') format('woff'),url('../font/CabinSketch-Bold-webfont.ttf') format('truetype'),url('../font/CabinSketch-Bold-webfont.svg#CabinSketchBold') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'JuraBold';src:url('../font/jura-bold-webfont.eot');src:url('../font/jura-bold-webfont.eot?#iefix') format('embedded-opentype'),url('../font/jura-bold-webfont.woff') format('woff'),url('../font/jura-bold-webfont.ttf') format('truetype'),url('../font/jura-bold-webfont.svg#JuraBold') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'JuraItalic';src:url('../font/jura-italic-webfont.eot');src:url('../font/jura-italic-webfont.eot?#iefix') format('embedded-opentype'),url('../font/jura-italic-webfont.woff') format('woff'),url('../font/jura-italic-webfont.ttf') format('truetype'),url('../font/jura-italic-webfont.svg#JuraItalic') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'JuraBoldItalic';src:url('../font/jura-bolditalic-webfont.eot');src:url('../font/jura-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),url('../font/jura-bolditalic-webfont.woff') format('woff'),url('../font/jura-bolditalic-webfont.ttf') format('truetype'),url('../font/jura-bolditalic-webfont.svg#JuraBoldItalic') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'JuraRegular';src:url('../font/jura-regular-webfont.eot');src:url('../font/jura-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../font/jura-regular-webfont.woff') format('woff'),url('../font/jura-regular-webfont.ttf') format('truetype'),url('../font/jura-regular-webfont.svg#JuraRegular') format('svg');font-weight:normal;font-style:normal;}h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{font-family:JuraRegular,Futura,'Century Gothic',AppleGothic,sans-serif;color:#444444;}
h1,.h1{margin:.8em 0 .4em 0;font-family:JuraBold,Futura,'Century Gothic',AppleGothic,sans-serif;font-size:2.2em;line-height:1.2em;}h1 a,.h1 a{color:#121212;}h1 a:hover,.h1 a:hover{text-decoration:none;}
h2,.h2{margin:0;font-size:1.8em;line-height:1.3333333333333333333333333333333em;margin-bottom:0.5em;}
h3,.h3{margin:0;font-size:1.5em;line-height:1.3em;margin-bottom:0.6667em;}
h4,.h4{margin:0;font-family:JuraItalic,Futura,'Century Gothic',AppleGothic,sans-serif;font-size:1.2em;line-height:1.3em;margin-bottom:1em;}
h5,.h5{margin:0;font-size:1.3125em;line-height:1.1428571428571428571428571428571em;margin-bottom:1.1428571428571428em;}
h6,.h6{margin:0;font-size:1.125em;line-height:1.3333333333333333333333333333333em;margin-bottom:1.3333333333333333em;}
p,ul,blockquote,pre,td,th,label{margin:0;font-size:1em;line-height:1.5em;margin-bottom:1.5em;}
small,p.small{margin:0;font-size:0.875em;line-height:1.7142857142857142857142857142857em;margin-bottom:1.7142857142857142857142857142857em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
pre,code,kbd,samp{font-size:.9em;line-height:1.5em;margin-bottom:1.5em;font-family:Menlo,Consolas,'DejaVu Sans Mono',Monaco,monospace;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
blockquote,q,cite{font-style:italic;}
blockquote{padding-left:1.5em;border-left:3px solid #ccc;}
blockquote>p{padding:0;}
table{border-collapse:collapse;border-spacing:0;margin-bottom:1.5em;}
th{text-align:left;}
tr,th,td{padding-right:1.5em;border-bottom:0 solid #333;}
form{margin:0;}
fieldset{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
legend{*margin-left:-0.75em;}
button,input,select,textarea{vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;*overflow:visible;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
.button{display:inline-block;padding:5px 20px;background:#fff;color:#121212;border:1px dashed #ddd;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;cursor:pointer;}.button:hover{text-decoration:none;}
.align-right{float:right;}
.highlight .c{color:#586e75;}
.highlight .err{color:#93a1a1;}
.highlight .g{color:#93a1a1;}
.highlight .k{color:#859900;}
.highlight .l{color:#93a1a1;}
.highlight .n{color:#93a1a1;}
.highlight .o{color:#859900;}
.highlight .x{color:#cb4b16;}
.highlight .p{color:#93a1a1;}
.highlight .cm{color:#586e75;}
.highlight .cp{color:#859900;}
.highlight .c1{color:#586e75;}
.highlight .cs{color:#859900;}
.highlight .gd{color:#2aa198;}
.highlight .ge{color:#93A1A1;font-style:italic;}
.highlight .gr{color:#dc322f;}
.highlight .gh{color:#cb4b16;}
.highlight .gi{color:#859900;}
.highlight .go{color:#93a1a1;}
.highlight .gp{color:#93a1a1;}
.highlight .gs{color:#93A1A1;font-weight:bold;}
.highlight .gu{color:#cb4b16;}
.highlight .gt{color:#93a1a1;}
.highlight .kc{color:#cb4b16;}
.highlight .kd{color:#268bd2;}
.highlight .kn{color:#859900;}
.highlight .kp{color:#859900;}
.highlight .kr{color:#268bd2;}
.highlight .kt{color:#dc322f;}
.highlight .ld{color:#93a1a1;}
.highlight .m{color:#2aa198;}
.highlight .s{color:#2aa198;}
.highlight .na{color:#93a1a1;}
.highlight .nb{color:#b58900;}
.highlight .nc{color:#268bd2;}
.highlight .no{color:#cb4b16;}
.highlight .nd{color:#268bd2;}
.highlight .ni{color:#cb4b16;}
.highlight .ne{color:#cb4b16;}
.highlight .nf{color:#268bd2;}
.highlight .nl{color:#93a1a1;}
.highlight .nn{color:#93a1a1;}
.highlight .nx{color:#93a1a1;}
.highlight .py{color:#93a1a1;}
.highlight .nt{color:#268bd2;}
.highlight .nv{color:#268bd2;}
.highlight .ow{color:#859900;}
.highlight .w{color:#93a1a1;}
.highlight .mf{color:#2aa198;}
.highlight .mh{color:#2aa198;}
.highlight .mi{color:#2aa198;}
.highlight .mo{color:#2aa198;}
.highlight .sb{color:#586e75;}
.highlight .sc{color:#2aa198;}
.highlight .sd{color:#93a1a1;}
.highlight .s2{color:#2aa198;}
.highlight .se{color:#cb4b16;}
.highlight .sh{color:#93a1a1;}
.highlight .si{color:#2aa198;}
.highlight .sx{color:#2aa198;}
.highlight .sr{color:#dc322f;}
.highlight .s1{color:#2aa198;}
.highlight .ss{color:#2aa198;}
.highlight .bp{color:#268bd2;}
.highlight .vc{color:#268bd2;}
.highlight .vg{color:#268bd2;}
.highlight .vi{color:#268bd2;}
.highlight .il{color:#2aa198;}
@media print{@page {margin:0.5cm;}*{background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;} a,a:visited{color:#444 !important;text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} abbr[title]:after{content:" (" attr(title) ")";} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} img{max-width:100% !important;} p,h2,h3{orphans:3;widows:3;} h2,h3{page-break-after:avoid;}}.aside h1{font-size:1.3125em;line-height:1.1428571428571428571428571428571em;margin-bottom:.5em;color:#bbb;-webkit-transition:color 0.3s ease-in;-moz-transition:color 0.3s ease-in;-ms-transition:color 0.3s ease-in;-o-transition:color 0.3s ease-in;transition:color 0.3s ease-in;}.aside h1 a{color:#bbb;}
.aside .tags:hover h1,.aside .tags:hover h1 a{color:#178195;}
.aside .tags ul{list-style:none;}.aside .tags ul li,.aside .tags ul a{display:block;color:#bbb;border-bottom:1px solid transparent;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-ms-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.aside .tags ul li:hover,.aside .tags ul a:hover{color:#178195;text-decoration:none;border-bottom:1px dashed #e0e0e0;}
.aside .tags ul li span,.aside .tags ul a span{margin-left:5px;color:#e0e0e0;}
.tag-cloud{margin:20px 0;list-style:none;display:block;}.tag-cloud li{display:inline-block;}.tag-cloud li a{display:inline-block;-webkit-transition:color 0.3s ease-in;-moz-transition:color 0.3s ease-in;-ms-transition:color 0.3s ease-in;-o-transition:color 0.3s ease-in;transition:color 0.3s ease-in;}.tag-cloud li a:hover{color:#178195;text-decoration:none;}
.post-navigation .previous,.post-navigation .next{position:fixed;width:40px;height:40px;top:50%;margin-top:-20px;line-height:40px;text-align:center;color:#ddd;font-size:2em;}.post-navigation .previous:hover,.post-navigation .next:hover{text-decoration:none;background:#ffffff url("../img/stripe-bg.png");color:#3aa9be;}
.post-navigation .previous{left:0;border-radius:0 5px 5px 0;-webkit-border-radius:0 5px 5px 0;-moz-border-radius:0 5px 5px 0;}
.post-navigation .next{right:0;width:50px;border-radius:5px 0 0 5px;-webkit-border-radius:5px 0 0 5px;-moz-border-radius:5px 0 0 5px;}
.post{margin:20px 0;}.post header{position:relative;border-top:1px dashed #e0e0e0;}.post header .post-date{display:block;width:108px;margin:-1px 0 10px -20px;padding-left:10px;background:#ffffff url("../img/stripe-bg.png");font-family:JuraBold,Palatino,"Palatino Linotype",Times,"Times New Roman",serif;font-weight:bold;line-height:28px;color:#3aa9be;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-webkit-transition:width margin 0.3s ease-in;-moz-transition:width margin 0.3s ease-in;-ms-transition:width margin 0.3s ease-in;-o-transition:width margin 0.3s ease-in;transition:width margin 0.3s ease-in;}
.post header .post-tags{position:absolute;top:0;right:5px;list-style:none;}.post header .post-tags li{display:inline-block;}.post header .post-tags li a{display:block;margin:5px 0 0 0;padding:5px;background:#fff;color:#ddd;font-size:12px;line-height:12px;border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;-webkit-transition:color 0.3s ease-in;-moz-transition:color 0.3s ease-in;-ms-transition:color 0.3s ease-in;-o-transition:color 0.3s ease-in;transition:color 0.3s ease-in;}.post header .post-tags li a:hover{color:#3aa9be;text-decoration:none;}
.post .body{padding:0 20px 0 0;max-width:600px;}
.post footer{zoom:1;margin:10px 0;}.post footer:before,.post footer:after{display:table;*display:inline;content:"";zoom:1;}
.post footer:after{clear:both;}
.post footer .comments-link{float:right;border-right:0;}
.post.image-post header{border-top:0;}.post.image-post header .post-image{display:block;margin:-1px 0 10px 0;}
.post.image-post header .post-date{margin-top:0;margin-bottom:0;width:auto;}
.post .actions{margin:10px 0;}
.comments{margin-top:24px;padding-top:16px;border-top:1px dashed #e0e0e0;}.comments #dsq-content{margin-right:24px;max-width:600px;}
.comments h3{font-size:1.4em;}
.comments a{color:#121212;}
.comments .dsq-textarea-background{background:#fff;border:1px dashed #e0e0e0;box-shadow:none;}
.teaser a{display:block;color:#121212;}.teaser a:hover{text-decoration:none;}.teaser a:hover h1{color:#3aa9be;}
.teaser header{border-top:1px dashed #e0e0e0;}.teaser header img{float:left;display:inline;max-width:120px;margin:30px 10px 10px 0;}
.teaser header time{display:block;width:108px;margin:-1px 0 10px -20px;padding-left:10px;background:#ffffff url("../img/stripe-bg.png");font-family:SansationBold,Palatino,"Palatino Linotype",Times,"Times New Roman",serif;font-weight:bold;line-height:28px;color:#3aa9be;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-webkit-transition:width margin 0.3s ease-in;-moz-transition:width margin 0.3s ease-in;-ms-transition:width margin 0.3s ease-in;-o-transition:width margin 0.3s ease-in;transition:width margin 0.3s ease-in;}
.teaser header h1{font-size:2em;-webkit-transition:color 0.3s ease-in;-moz-transition:color 0.3s ease-in;-ms-transition:color 0.3s ease-in;-o-transition:color 0.3s ease-in;transition:color 0.3s ease-in;}
.teaser p{padding:0 20px 0 0;max-width:512px;}
.labs{margin-left:-20px;zoom:1;}.labs:before,.labs:after{display:table;*display:inline;content:"";zoom:1;}
.labs:after{clear:both;}
.lab{display:inline;float:left;margin-left:20px;width:179.999999998px;width:215px;min-height:220px;margin-top:20px;-webkit-transition:width margin 0.3s ease-in;-moz-transition:width margin 0.3s ease-in;-ms-transition:width margin 0.3s ease-in;-o-transition:width margin 0.3s ease-in;transition:width margin 0.3s ease-in;}.lab a{color:#121212;}.lab a:hover{text-decoration:none;}.lab a:hover h1{color:#178195;}
.lab h2{display:block;padding:20px 10px 5px 0;margin-bottom:10px;color:#ddd;text-align:right;background:url("../img/gray-bg.png") repeat;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.lab h1{font-size:1.3em;padding:0 5px;-webkit-transition:color 0.3s ease-in;-moz-transition:color 0.3s ease-in;-ms-transition:color 0.3s ease-in;-o-transition:color 0.3s ease-in;transition:color 0.3s ease-in;}
.lab p{padding:0 5px;margin:0;}
.header{position:relative;zoom:1;margin:0;border-bottom:1px dashed #e0e0e0;}.header:before,.header:after{display:table;*display:inline;content:"";zoom:1;}
.header:after{clear:both;}
.header .main-nav{margin:0 auto;width:820px;zoom:1;}.header .main-nav:before,.header .main-nav:after{display:table;*display:inline;content:"";zoom:1;}
.header .main-nav:after{clear:both;}
.header .main-nav a{display:block;padding:0 10px;font-family:CabinSketchBold,Futura,"Century Gothic",AppleGothic,sans-serif;font-size:1.6em;line-height:50px;text-transform:uppercase;border-right:1px dashed #e0e0e0;}.header .main-nav a:hover{text-decoration:none;}
.header .main-nav a.site{float:left;padding:0 20px 0 60px;color:#3aa9be;border-right:1px dashed #e0e0e0;background:url("http://www.gravatar.com/avatar/f9ccd98c185d7407c6d27e2875335a31.png?s=50") no-repeat 0 0;}
.header .main-nav ul{float:left;display:block;list-style:none;margin:0;}.header .main-nav ul li{float:left;}
.social{position:absolute;top:0;right:10px;list-style:none;}.social li{float:left;}.social li a{display:block;height:32px;width:32px;margin:8px 0 8px 5px;text-indent:-10000px;background:url("../img/social.png") no-repeat 0 0;}.social li a:hover{background-position-y:-32px;}
.social .github{background-position-x:-32px;}
.social .twitter{background-position-x:-64px;}
.container{margin:0 auto;width:820px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-ms-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
.main{margin-left:-20px;zoom:1;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-ms-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main:before,.main:after{display:table;*display:inline;content:"";zoom:1;}
.main:after{clear:both;}
.content{display:inline;float:left;margin-left:20px;width:639px;border-right:1px dashed #e0e0e0;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-ms-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
.content-wide{position:relative;display:inline;float:left;margin-left:20px;width:820px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-ms-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
.aside{display:inline;float:left;margin-left:20px;width:160px;margin-top:20px;margin-bottom:20px;min-height:300px;}
.footer{position:relative;width:820px;margin-top:20px;border:1px dashed #e0e0e0;border-bottom:0;line-height:30px;min-height:30px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-ms-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.footer small{margin:0 10px;font-size:.7em;color:#ddd;}
.footer .back-to-top{position:absolute;top:0;right:10px;color:#ddd;-webkit-transition:color 0.3s ease-in;-moz-transition:color 0.3s ease-in;-ms-transition:color 0.3s ease-in;-o-transition:color 0.3s ease-in;transition:color 0.3s ease-in;}.footer .back-to-top:hover{color:#3aa9be;text-decoration:none;}
@media (max-width: 480px){.labs{margin-left:0;} .lab{width:94%;margin-left:3%;min-height:0;}}@media (max-width: 760px){.header .main-nav{width:100%;}.header .main-nav a.site{float:none;border-right:0;border-bottom:1px dashed #e0e0e0;} .container{width:100%;} .main{margin-left:0;} .content,.content-wide{width:94%;margin-left:3%;border-right:0;} .post header .post-date{margin-left:0;} .aside{width:94%;margin-left:3%;padding-top:20px;border-top:1px dashed #e0e0e0;} .footer{width:94%;margin-left:3%;}}@media (min-width: 760px) and (max-width: 860px){.main{margin-left:0;} .content,.content-wide{width:72%;margin-left:3%;} .post header .post-date{margin-left:0;} .aside{width:22%;margin-left:3%;}}@media (max-width: 920px){.post-navigation{display:none;}}
