<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{{ page.title }} @ Leon Radley</title>
	<link rel="canonical" href="{{ page.url | canonical }}">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="{{ site.author }}" />
	<link rel="stylesheet" href="{{ root_url }}/public/css/site.css" />
</head>
<body>
	<header class="header">
		<nav role="main" class="main-nav">
			<a class="site" href="/">Radley.se</a>
			<ul>
				<li><a href="/">Blog</a></li>
				<li><a href="/labs">Labs</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</nav>
	</header>
	<div class="container">
		<div class="main">
			{{ content }}
		</div>
		<footer class="footer">
			by Leon
		</footer>
	</div>
	{% include analytics.html %}
</body>
</html>